.aboutMeHeader {
  padding-bottom: 10vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.aboutMe {
  text-align: center;
}

.aboutMeContainer {
  width: 50vh;
  font-size: 22px;
}

.greetingSection {
  margin-top: 3.1rem;
  font-size: 1rem;
}
