.headerContainer {
  max-width: 100%;
  height: 5rem;
  background-color: #66666680;
}
.headerContainer > .row {
  height: 5rem;
  display: flex;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
}
.headerBtn {
  height: 5rem;
  width: 10rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
