/* .servicesContainer {
  height: 15rem;
  display: flex;
  flex-direction: row;
}

.servicesContainer > .row {
  height: 15rem;
}

.mealsInfo {
  background-image: url('/src/background-pictures/mealConsultationBackground.jpeg');
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  opacity: 0.9;
  padding-top: 1rem;
  color: #bdbdbd;
}

.trainingsInfo {
  background-image: url('/src/background-pictures/trainConsultationBackground.jpeg');
  background-position: center center;
  background-size: cover;
  min-height: 100%;
  opacity: 0.9;
  padding-top: 1rem;
  color: #bdbdbd;
}

.injuriesInfo {
  background-image: url('/src/background-pictures/injuryRecoverBackground.jpeg');
  background-position: left bottom;
  background-size: cover;
  min-height: 100%;
  opacity: 0.9;
  padding-top: 1rem;
  color: #bdbdbd;
}
.mealsInfo > h1 {
  opacity: 1;
} */
