.serviceList {
  text-align: center;
  display: flex;
  color: #bdbdbd;
  width: 100%;
  height: 300px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.services > h1 {
}

.service-unit {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trainConsultation {
  background: url('/src/background-pictures/trainConsultationBackground.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.mealsConsultation {
  background-image: url('/src/background-pictures/mealConsultationBackground.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.injuriesConsultation {
  background-image: url('/src/background-pictures/injuryRecoverBackground.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.textArea > h4 {
  font-size: 50px;
}
