.siteBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.welcomePage {
  display: flex;
  width: 100%;
}

.greetingSection,
.gillsonPicture {
  flex: 1;
}
